/* hide action input fields */
#changelist-form-step, #changelist-form-page {
	display: none;
	margin-left: 0.5em;
}

/* styles for list view */
#result_list thead th.column-_reorder {
	width: 50px;
}

#result_list div.drag {
	background: url(../icons/drag.png) repeat 0px 0px;
	cursor: pointer;
}
/* styles for tabular inlines */
div.inline-group table.ui-sortable tr.form-row.has_original td.drag {
	cursor: pointer;
	background-image: url(../icons/drag.png);
	background-repeat: repeat;
	width: 20px;
}
div.inline-group table.ui-sortable tr.form-row.has_original td.original p {
	left: initial;
}

div.inline-group table.ui-sortable tr.form-row td.is_hidden {
	display: none;
}
/* styles for stacked inlines */
div.inline-group.ui-sortable div.inline-related.has_original h3 {
	background: url(../icons/drag.png) repeat;
}
div.inline-group.ui-sortable div.inline-related.has_original h3:hover {
	cursor: pointer;
}
div.inline-group.ui-sortable div.form-row.is_hidden {
	display: none;
}
/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	z-index: 9;
  }
  
  /* Modal Content/Box */
  .modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  }

  .spin {
	animation-name: spinanimation;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear; 
	/* transform: rotate(3deg); */
	 /* transform: rotate(0.3rad);/ */
	 /* transform: rotate(3grad); */ 
	 /* transform: rotate(.03turn);  */
	 font-size: 25px;
	 display: inline-block;
	 padding-bottom: 4px;
  }
  
  @keyframes spinanimation {
	  from {
		  transform:rotate(0deg);
	  }
	  to {
		  transform:rotate(360deg);
	  }
  }